/* Navigation */

nav{
    background-color: $mainDarkSecond;
    height: 80px;
    .container{
        height: 100%;
        ul{
            height: 100%;
            display: flex;
            justify-content: center;
            list-style: none;
            align-items: center;
            li{
                border-right: 2px solid $mainWhite;
                line-height: 20px;
                padding: 0 20px;
                &:last-child{
                    border: none;
                }
                a{
                    display: inline-block;
                    color: $mainWhite;
                    font-size: 29px;
                    border-bottom: 2px solid transparent;
                    transition: .3s ease;
                    line-height: 30px;
                    &:hover{
                        border-bottom-color: $mainWhite;
                    }
                }
            }
        }
    }
}

/* Navigation End */