.slider{
    max-width: 1248px;
    height: 462px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;
    user-select: none;
    .inner{
        display: flex;
        position: absolute;
        left: 0;
        transition: left 0.25s ease;
        img{
//            max-width: 100%;
            height: auto;
        }
    }
    .next, .prev{
        cursor: pointer;
    }
    .next::after, .prev::before{
        content: '\f061';
        font-family: "FontAwesome";
        position: absolute;
        top: 50%;
        right: 0;
        background-color: #d1d1d1;
        color: #000;
        width: 34px;
        text-align: center;
        height: 61px;
        transform: translateY(-50%);
        box-sizing: border-box;
        font-size: 18px;
        transition: .5s ease;
        line-height: 61px;
    }
    .next::after{
        content: "\f060";
        left: 0;
    }
    .next:hover::after,
    .prev:hover::before{
        background-color: rgba(0,0,0,0.6);
        color: $mainWhite;
    }
    
}