footer{
    background-color: $mainDarkSecond;
    height: 220px;
    margin-top: 203px;
    flex-grow: 0;
    .container{
        .footer-wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
        height: 100%;
        .copy{
            color: $mainWhite;
            a{
                color: $mainWhite;
            }
        }
        .footer-nav{
            list-style: none;
            li{
                line-height: 25px;
                a{
                    display: inline-block;
                    color: $mainWhite;
                    border-bottom: 1px solid $mainWhite;
                    line-height: 0.9;
                }
            }
        }
        .footer-company{
            a{
                display: flex;
                color: $mainWhite;
                .footer-logo{
                    margin-right: 10px;
                }
                .dev-site{
                    border-bottom: 1px solid $mainWhite;
                    display: inline-block;
                    line-height: 0.9;
                }
            }
        }
    }
}