@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$mainFont: 'PT Sans', sans-serif;
$mainWhite: #fff;
$mainDark: #767676;
$mainDarkSecond: #777;
$mainEnotherDark: #7e7e7e;
$color888: #888;